{% load static %}
<div class="departments__body">
    <div class="departments__links-wrapper">
        <ul class="departments__links">  
            {% for c in categories %} 
            <li class="departments__item"><a href="{% url "category-list" c.cid %}">{{ c.title }}</a></li>
            {% endfor %}
            <li class="departments__item"><a href="{% url "products"  %}">All</a></li>
        </ul>
    </div>
</div><button class="departments__button" id="departments__button"><svg class="departments__button-icon"
        width="18px" height="14px">
        <use xlink:href="images/sprite.svg#menu-18x14"></use>
    </svg> Shop By Category <svg class="departments__button-arrow" width="9px"
        height="6px">
        <use xlink:href="images/sprite.svg# arrow-rounded-down-9x6"></use>
    </svg></button>