.glyphicon {
    margin-right: 5px;
}

.rating .glyphicon {
    font-size: 22px;
}

.rating-num {
    margin-top: 0px;
    font-size: 54px;
}

.progress {
    margin-bottom: 5px;
}

.progress-bar {
    text-align: left;
}

.rating-desc .col-md-3 {
    padding-right: 0px;
}

.sr-only {
    margin-left: 5px;
    overflow: visible;
    clip: auto;
}


.custom-button {
    background-color: #3276b1;
    width: 136px;
    height: 33px;
    /* Change the background color to blue */
    color: white;
    /* Change the text color to white */
    font-size: 1.5rem;
    /* Change the font size to make it larger */
    padding: 10px 20px;
    /* Adjust padding for button size */
    border: none;
    /* Remove the button border */
    cursor: pointer;
    /* Add a pointer cursor on hover */
}

.custom-button:hover {
    background-color:  #3276b1;
    color: white;
    /* Change the background color on hover */
}